<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Click check boxes to display webpages data</h1>

        <form method="POST" action="{% url 'select_and_display' %}">
            {% csrf_token %}

            {% for i in LTO %}
                <input type="checkbox" name="tn" id="tn" value="{{i.topic_name}}">
                <label for="tn">{{i.topic_name}}</label><br><br>
            {% endfor %}


            <input type="submit" value="Tn_Submit">
        </form>
    </center>
</body>
</html>