<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>select topic name to get webpage and Accessrecord</h1>
        <form method="POST">
            {% csrf_token %}

            {% for i in QSWO %}
                <input type="radio" name="pk" id="pk" value="{{i.pk}}">
                <label for="pk">{{i.name}}</label> <br><br>
            {% endfor %}

            <label for="na">Enter name to update</label>
            <input type="text" name="na" id="na"><br><br>

            <label for="ur">Enter url to update</label>
            <input type="url" name="ur" id="ur"><br><br>

            <input type="submit" value="Update webpage">
        </form>
    </center>
</body>
</html>